@{
    ViewData["Title"] = "Home Page";
}
@model kendoGridRev.Models.Employee
<style type="text/css">
    #editBtn {
        padding: 3px 13px;
        border: none;
        border-radius: 50%;
        background: lightgray;
        font-size: 16px;
    }

    .green {
        background: skyblue;
    }
</style>

<div id="container">

    <!-- Button trigger modal -->
    <button type="button" id="addBtn" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Add New Record
    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="myForm" method="post">
                        <input type="hidden" id="Id" class="form-control" asp-for="Id" />

                        <div>
                            <label asp-for="Name" class="form-label">Name</label>
                            <input asp-for="Name" id="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger spanError"></span>
                        </div><br />

                        <div>
                            <label asp-for="Contact" class="form-label">Contact</label>
                            <input asp-for="Contact" id="Contact" class="form-control" />
                            <span asp-validation-for="Contact" class="text-danger spanError"></span>
                        </div><br />

                        <div>
                            <label asp-for="Email" class="form-label">Email</label>
                            <input asp-for="Email" id="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger spanError"></span>
                        </div><br />

                        <div>
                            <label asp-for="Department" class="form-label">Department</label>
                            <input asp-for="Department" id="Department" class="form-control" />
                            <span asp-validation-for="Department" class="text-danger spanError"></span>
                        </div><br />

                        <div>
                            <label asp-for="Salary" class="form-label">Salary</label>
                            <input asp-for="Salary" id="Salary" class="form-control" />
                            <span asp-validation-for="Salary" class="text-danger spanError"></span>
                        </div><br />
                        
                        <div>
                            <label asp-for="Br_Id" class="form-label">Branch</label>
                            
                            <select asp-for="Br_Id" class="form-control" asp-items="ViewBag.Br_Name"><option value="select">Select Branch...</option></select>
                            <span id="selectError" class="text-danger"></span>
                        </div><br />

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" id="saveBtn" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div id="example">
        <div id="grid"></div>
    </div>
</div>

<script>
    $(document).ready(function () {

        let myCol = (data) => {
            var color;
            var dep = data.department.toLowerCase();
            if (dep === "it") {
                color = "#92C7CF";
            }
            else if (dep === "sales") {
                color = "#AAD7D9";
            }
            else if (dep === "hr") {
                color = "#B19470";
            }
            else{
                color = "#E5E1DA";
            }
            return { style: `background-color: ${color} ` }
        }

        let myBranch = (data) => {
            var color;
            var br = data.branches.br_Name.toLowerCase();
            if (br === "bhopal") {
                color = "#CDFADB";
            }
            else if (br === "indore") {
                color = "#F6FDC3";
            }
            else if (br === "mumbai") {
                color = "#FFCF96";
            }
            else {
                color = "#FF8080";
            }
            return { style: `background-color: ${color} ` }
        }

        var grid = $("#grid").kendoGrid({
            dataSource: {

                transport: {
                    read: {
                        url: "/Home/Show",
                        type: "json",
                    }
                },
                pageSize: 20
            },
            height: 550,

            sortable: true,
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },

            columns: [
                {
                    field: "CustomColumn", title: "Action", width: "75",
                    template: '<button type="button" id="editBtn" class="myMenu "><i class="fa-solid fa-ellipsis-vertical"></i></button>',
                },
                { field: "id", title: "Employee ID" },
                { field: "name", title: "Employee Name" },
                { field: "contact", title: "Contact" },
                { field: "email", title: "Email" },
                { field: "department", title: "Department", attributes: myCol },
                { field: "branches.br_Name", title: "Branch", attributes: myBranch },
                { field: "salary", title: "Salary" },
            ]
        }).data("kendoGrid");

        $("#addBtn").click(function () {
            $(".modal-header h1").text("Add New");
            $("#myForm")[0].reset();
            $("#myForm span").text("");
            $("#myForm #Id").val(0);
           
        })

        $.contextMenu({
            selector: ".myMenu",
            autoHide: true,
            trigger: "left",

            items: {
                Edit: {
                    name: "Edit", callback: function (key, opt) {
                        $("#myForm span").text("");
                        $(".modal-header h1").text("Edit");
                        $("#staticBackdrop").modal("show");
                        var gridData = grid.dataItem($(this).closest("tr"));
                        $("#Id").val(gridData.id);
                        $("#Name").val(gridData.name);
                        $("#Br_Id").val(gridData.branches.br_Id);
                        $("#Contact").val(gridData.contact);
                        $("#Salary").val(gridData.salary);
                        $("#Email").val(gridData.email);
                        $("#Department").val(gridData.department);
                        console.log(gridData);

                    }
                },
                Delete: {
                    name: "Delete", callback: function (key, opt) {
                        var gridData = grid.dataItem($(this).closest("tr"));
                        var rowId = { userId: gridData.id };
                        console.log(rowId);
                        $.ajax({
                            type: "post",
                            url: "/Home/Delete/",
                            data: rowId,
                            success: function (d) {
                                console.log(d);
                                grid.dataSource.read();
                            }
                        })
                    }
                }
            }
        });

        var isValid = true;

        $("select").change(function () {
            var value = $(this).val();
            if (value == "select") {
                $("#selectError").text("Please Select Branch.");
                isValid = false;
            }else{
                $("#selectError").text("");
                isValid = true;
            }
        })

        $("#myForm").submit(function (e) {

            var id = $("#myForm #Id").val();
            var brId = $("#myForm #Br_Id").val();
            var value = $("select").val();
            if (value == "select") {
                $("#selectError").text("Please Select Branch.");
                isValid = false;
            }

            if (id > 0) {
                console.log("edi");
                url = "/Home/Edit/";

            }
            else {
                url = "/Home/Create/";
                console.log("cre");
            }

            $("#myForm input").each(function () {
               
                var ref = $(this);
                if (ref.val() == "") {
                    isValid = false;
                    console.log(ref);
                }
                
            })

            if (isValid) {
                var formData = $("#myForm").serialize();
              
                $.ajax({
                    type: "post",
                    url: url,
                    data: formData,
                    success: function (d) {
                        console.log(d);
                        $("#staticBackdrop").modal("hide");
                        grid.dataSource.read();
                    },
                    error: function(d){
                        console.log(d);
                    }
                })
            }
            else {
                e.preventDefault();
            }

        })
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
